# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Lambda
lambda/*.zip

# Misc
.DS_Store
.env
